<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador</title>
</head>

<body  bgcolor="cyan">
    <h1> Mi Buscador </h1>
    <h4>{% block titulo %}{% endblock %}<h4>
    {% block contenido %}{% endblock %}


    <form action="/mi-familia/{{ familiar.id }}" method="post"> 
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="buscar">
    </form>
    
    <h2 style="color:green">{{msg_exito}}</h2>
    <a href='/principal/'>Volver a Pagina principal</a>

</body>

</html>